
body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {

    box-shadow: 0px 5px 16px #1c11209f;
    position: fixed;
    top: 0px;
    width: 100%;

}

header.navigation {
    background-color: #220928;
    color: rgb(244, 235, 235);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline-block.logo {
    width: 23%;
    padding: 1%;
}

.inline-block nav {
    width: 73%;
    padding: 1%;
}


ul {
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

li {
    
    border-bottom: solid 1px transparent;

}

li:hover {

    cursor:pointer;
    color:orange;
    border-bottom: solid 1px;


}

#heroImg {
    padding: 25px;
    display:flex;
    flex-direction: column;

    
}

#heroImg .content {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    background-color:#f6ecf5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    box-shadow: 3px 3px 10px #5b3b653b;
}

#profile-picture {
    max-height: 100vh;
    width:auto;
    margin: auto;

}

#logo {
    height: 50px;
}


#heroImg .content button {
    border: none;
    color: rgb(248, 238, 253);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:#ba85c9;
    border-radius: 7px;
}

#heroImg button:hover {

    cursor:pointer;

    background-color:#df9ef1
}

.skill-card img{
    height: auto;
    width: 100%;
}

.skill-card .frame {
    height: 320px;
    overflow: hidden;
}

}

#mySkills h1 {
    text-align:center;
} 

#mySkills .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.skill-card {
    box-shadow: 2px 2px 6px #0004;
    border-radius: 8px;
    padding: 16px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-card h3,
.skill-card p {
    text-align: center;
}

#myWork {
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

#myWork h1 {
    text-align:center;

}



#myWork .card-container {
display: flex;
flex-direction: column;
gap: 10px;
}

.work-card {
    box-shadow: 2px 2px 6px #0004;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.work-card img {
    width: 45%;
}

.work-card div {
    width: 55%;
    padding: 20px;
    padding-left: 10%;
}

.work-card h4 {
    margin: 0px;
}

#elapse-button{
    border: none;
    background-color: transparent;
    background-color:#ba85c9;
    margin: 0px;
    border-radius: 4px;
    color:#f6ecf5;
    font-size: 16px;
}

#elapse-button:hover {

    cursor: pointer;
    background-color:#df9ef1;
}

#ppp-button{
    border: none;
    background-color: transparent;
    background-color:#ba85c9;
    margin: 0px;
    border-radius: 4px;
    color:#f6ecf5;
    font-size: 16px;
}

#ppp-button:hover {

    cursor: pointer;
    background-color:#df9ef1;
}

#nsa-button{
    border: none;
    background-color: transparent;
    background-color:#ba85c9;
    margin: 0px;
    border-radius: 4px;
    color:#f6ecf5;
    font-size: 16px;
}

#nsa-button:hover {

    cursor: pointer;
    background-color:#df9ef1;
}


#view-all-projects {
    border: none;
    background-color: transparent;
    background-color:#ba85c9;
    color:#f6ecf5;
    margin: 0px;
    border-radius: 12px;
    font-size:large;
}

#view-all-projects:hover {
    cursor: pointer;
    background-color:#df9ef1;
}

footer {
    background-color: #220928;
    color: rgba(255, 255, 255, 0.548);
    padding: 20px;
    text-align: center;


}

footer ul {
    display: inline-block;
    vertical-align: top;
}