
body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.navigation {
    background-color: #220928;
    color: rgb(244, 235, 235);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline-block.logo {
    width: 23%;
    padding: 1%;
}

.inline-block nav {
    width: 73%;
    padding: 1%;
}


ul {
    width: 50%;
    margin-left: auto;
}

#heroImg {
    height: 600px;
    padding: 25px;
    display:flex;
    flex-direction: column;

    
}

#heroImg .content {
    width: 50%;
    margin: auto;
    background-color:#f6ecf5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

#profile-picture {
    max-height: 100vh;
    width:auto;
    margin: auto;

}


#heroImg .content button {
    border: none;
  color: rgb(26, 21, 29);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color:#ba85c9
    
}


footer {
    background-color: #220928;
    color: white;
    padding: 20px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width:600) {
    .flexContainer {
        flex-direction:column;
    }
    .flexContainer > div {
        width:100%;
    }

    .workGrid {
        display: grid;
        grid-template-areas:
        "project1 img"
        "project 1 info"
        "project 2 img"
        "project 2 info"
        "view-all-projects";
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 100%;
    }


}